*.pt
__pycache__
.vscode
experiment-results
Manifest.toml
compressing_classifiers_and_MLPs/test_error_vs_alpha_results
compressing_classifiers_and_MLPs/core.*
compressing_classifiers_and_MLPs/instantiateScript.jl
compressing_classifiers_and_MLPs/experiments
compressing_classifiers_and_MLPs/src/DatasetsModels/imagenet
compressing_classifiers_and_MLPs/gpu_logs/results
compressing_transformers/experiment_scripts
compressing_transformers/src/Database/plots
compressing_transformers/src/Datasets/error.md
core.raven*

*/reports
*/slurm_scripts

compressing_transformers/output
compressing_transformers/input